
body {
	
	background-image: url("fond.jpg");
	
}



#photo {
   float: left;
   width: 250px;
   height: 250px;
   padding: 25px;
 
} 


 #prez {
    
	text-align: center;
	height: 300px;
} 


.cv {
	border-style: groove;
	padding-left: 30px;
	background-image: url("fond2.jpg");
	
 }

ul, p {     
    border-left-style: solid;
	border-color: DarkSlateGray ;
	border-width: 5px;

}




